*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: coolvetica;
    src: url(../fonts/coolvetica/coolvetica\ condensed\ rg.otf);
}

@font-face {
    font-family: classy;
    src: url(../fonts/classy_vogue/Classyvogueregular.ttf);
}

@font-face {
    font-family: rosela;
    src: url(../fonts/rosela_4/Rosela.ttf);
}

.badge{
    text-decoration: none;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
}

h4{
    font-family: rosela;
}

.together{
    display: flex;
    width: 100%;
    justify-content: space-between;
    place-items: center;
}

.font-size{
    font-size: 1.1rem;
}

.pcard {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.background{
    background-image: url(../img/naomi-hebert-MP0bgaS_d1c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40rem;
    margin-bottom: 1rem;
    width: 100%;
}